.titleWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding-top: 60px;
}

.total {
  color: rgb(49, 46, 46);
  font-size: 23px;
  font-weight: 400;
}

.status {
  color: rgb(49, 46, 46);
  font-size: 11px;
  font-weight: 400;
}

.title {
  color: rgb(75, 75, 75);
  font-size: 34px;
  font-weight: 500;
}